@import url("./font.css");
/* Reset */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
/* Root Variables */
:root {
  --color-primary: #06b6d4;
  --color-secondary: #ef4444;
  --color-text: #1e293b;
  --color-gray: #d1d5db;
  --color-light: #f0f8fb;
  --color-black: #0f172a;
  --color-white: #fff;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
}
/* Typography */
html {
  font-size: 62.5%;
}
body {
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-text);
}
::placeholder {
  font-size: 1.4rem;
}
h1,
h2,
h3 {
  color: var(--color-black);
}
h1,
h2 {
  font-weight: 900;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
  font-weight: 700;
}
a {
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
  ::placeholder {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 3rem;
  }
}
/* Controls */
.btn {
  cursor: pointer;
  outline: 0;
  border: 0;
  font-size: 1.6rem;
  font-weight: 600;
  white-space: nowrap;
  padding: 0.5rem 1.5rem;
  border-radius: var(--radius-md);
}
.btn--primary {
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn--secondary {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.btn--block {
  width: 100%;
}
.input {
  background-color: transparent;
  outline: 0;
  border: 0;
  padding: 0.7rem 1rem;
  border-bottom: 2px solid var(--color-gray);
}
label {
  display: block;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.8rem;
  }
}
.badge {
  cursor: pointer;
  display: inline-block;
  border-radius: var(--radius-lg);
  padding: 0.5rem;
  margin-left: 1rem;
}
.badge--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
/* Container and Block */
.block {
  padding: 1.5rem 2.5rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/* Hidden */
.hidden {
  display: none;
}
/* Completed */
.completed {
  color: var(--color-gray);
  text-decoration: line-through;
}
/* Radio */
.radio {
  cursor: pointer;
  position: relative;
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid var(--color-gray);
  border-radius: 100%;
  padding: 8px;
}
.radio--checked {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-color: var(--color-primary);
}
.radio > .fa-check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.2rem;
  color: var(--color-white);
}
/* Todo */
.todo-app {
  width: calc(100vw - 4rem);
  max-width: 60rem;
  background-color: var(--color-light);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: var(--radius-lg);
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
}
.todo__add {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.todo__add .input {
  flex: 1;
}
.todo__sort__filter {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__filter {
  position: relative;
}
.todo__filter > select {
  appearance: none;
  outline: 0;
  border: 1px solid var(--color-gray);
  padding: 1rem 0.4rem 1rem 5rem;
  border-radius: var(--radius-md);
  font-weight: 500;
}
.caret {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  color: var(--color-primary);
}
.todo__sort {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.todo__sort .sort {
  background-color: var(--color-white);
  padding: 0.7rem;
  border-radius: var(--radius-md);
}
.todo__items {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.todo__item {
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: var(--radius-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.todo__item__title {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.todos__status {
  text-align: center;
}
.completed-num {
  color: var(--color-primary);
}
.uncompleted-num {
  color: var(--color-secondary);
}
@media screen and (min-width: 768px) {
  .todo-app {
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translateX(-90%) translateY(-50%);
  }
}
